{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{% if object %}
{% trans 'Edit course' %} "{{ object.title }}"
{% else %}
{% trans 'Create a new course' %}
{% endif %}
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% ifequal LANGUAGE_CODE 'ar' %}
<style>
label {
    float: right;
    clear: both;
    margin: 0 0 8px 0;
}
li {
  float: right;
  clear: both;
  text-align: right;
}
nav,ol .breadcrumb {
  text-align: right;
  direction:rtl;
}
ul {
    list-style-type: disc;
    float: right;
    text-align: right;
    direction:rtl;
}
.card {
  text-align: right;
}
</style>
{% endifequal %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url "manage_course_list" %}">{% trans 'Course Mangement' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% if object %}
    {% trans 'Edit course' %} "{{ object.title }}"
    {% else %}
    {% trans 'Create a new course' %}
    {% endif %}
</li>
  </ol>
</nav>
    <br>
<div class="card">
  <div class="card-body">
  <p class="card-text">
    <h2>{% trans 'Course info' %}</h2>
    <form action="." method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <h1 style="background-color: #fff"></h1><button type="submit" 
         class="btn btn-primary btn-lg" style="padding: top right bottom left;">{% trans 'Save Course' %}</button>
    </form>
    </p>
    </div>
    </div>
{% endblock %}