{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Course Management</li>
  </ol>
</nav>
<a href="{% url 'course_create' %}" class="btn btn-outline-secondary">+ Course</a>
<a href="{% url 'student_registration' %}" class="btn btn-outline-secondary">+ Student</a>
<a href="{% url 'subject_create' %}" class="btn btn-outline-secondary">+ Subject</a>
<a href="{% url 'instructor_create' %}" class="btn btn-outline-secondary">+ Instructor</a>
<br><br>
{% for course in object_list %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ course.subject }}</h6>
    <a href="{% url "course_edit" course.id %}" class="card-link">Edit</a>
    <a href="{% url "course_delete" course.id %}" class="card-link">Delete</a>
    <a href="{% url "course_module_update" course.id %}" class="card-link">Edit Modules</a>
    {% if course.modules.count > 0 %}
    <a href="{% url "module_content_list" course.modules.first.id %}" class="card-link">Manage Content</a>
    {% endif %}
  </div>
</div>
<br>
{% empty %}
    <p>You haven't created any courses yet.</p>
    {% endfor %}

  <br>
  <div class="container">
  <div class="row justify-content-center">
  <nav aria-label="Page navigation example" style="justify-content: center;">
  {% if is_paginated %}
  <ul class="pagination justify-content-end">
  {% if page_obj.has_previous %}
  <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
  {% endif %}
  {% for i in paginator.page_range %}
  {% if page_obj.number == i %}
    <li class="page-item active" style="z-index: 0;">
      <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
    </li>
  {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {% endif %}
  </ul>
{% endif %}
</nav>
</div>
</div>
<br>
        
{% endblock %}

