{% extends "base.html" %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block content %}
{% with subject=course.subject %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">Courses</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
  </ol>
</nav>
<div class="container">
<img src="{{ object.image.url }}" class="img-fluid" alt="Responsive image"/>
</div><br>
    <h4>Overview</h4>
    <p>
        <a href="{% url "course_list_subject" subject.slug %}">
            {{ subject.title }}</a>.
        {{ course.modules.count }} modules.
        Instructor: {{ course.instructor }}
    </p>
    {{ object.overview|linebreaks }}
{% endwith %}
{% endblock %}