{% extends "base.html" %}
{% load i18n %}
{% load course %}
{% block title %}
{% trans 'Module' %} {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% ifequal LANGUAGE_CODE 'ar' %}
<style>
label {
    float: right;
    clear: both;
    margin: 0 0 8px 0;
}
body {
  text-align: right;
}
.btn-outline-secondary, input {
    text-align: right;
    clear: both;
}
#module-contents input[type=submit] {
  float: right;
}
.btn-link {
  float: left;
}
ul {
    list-style-type: disc;
    float: right;
    text-align: right;
    direction:rtl;
}
nav,ol .breadcrumb {
  text-align: right;
  direction:rtl;
}
.card {
  text-align: right;
}
</style>
{% endifequal %}
{% with course=module.course %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url "manage_course_list" %}">{% trans 'Course Mangement' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Course' %} "{{ course.title }}"</li>
  </ol>
</nav>
<!-- new -->
<div class="accordion" id="accordionExample">
{% for m in course.modules.all %}
  <div class="card">
    <div class="card-header" id="heading{{ m.id }}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ m.id }}" aria-expanded="true" aria-controls="collapse{{ m.id }}">
          <li style="list-style-type: none;" data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
            <a href="{% url "module_content_list" m.id %}">
                <span>
            <span class="order">{{ m.order|add:1 }}.</span>
                </span>
                {{ m.title }}
            </a>
        </li>
        </button>
      </h2>
    </div>

    <div id="collapse{{ m.id }}" {% if m == module %}  class="collapse show" {% else %} class="collapse hide" {% endif %} aria-labelledby="heading{{ m.id }}" data-parent="#accordionExample">
      <div class="card-body">
    <div id="module-contents">
        {% for content in module.contents.all %}
        <div data-id="{{ content.id }}">
            {% with item=content.item %}
            <p>{{ item }} ({{ item|model_name }})</p>
            <a href="{% url "module_content_update" module.id item|model_name item.id%}"><button type="button" class="btn btn-primary" style="border-radius:5px;
    font-size:13px;
    text-transform:uppercase;
    border:none;
    padding:10px 20px;
    margin:20px 0;">{% trans 'Edit' %} </button></a> 
            <form action="{% url "module_content_delete" content.id %}" method="post">
                <input type="submit" class="button" value="{% trans 'Delete' %}">
                {% csrf_token %}
            </form>
            {% endwith %}
        </div>
        {% empty %}
        <p>{% trans 'This module has no contents yet.' %}</p>
        {% endfor %}
    </div> <br>
    <h4 style="font-family: 'Cairo', sans-serif;">{% trans 'Add new content:' %}</h4>
    <ul class="content-types">
        <li><a href="{% url "module_content_create" module.id "text" %}">
                {% trans 'Text' %}</a></li>
        <li><a href="{% url "module_content_create" module.id "image" %}">
                {% trans 'Image' %}</a></li>
        <li><a href="{% url "module_content_create" module.id "video" %}">
                {% trans 'Video' %}</a></li>
        <li><a href="{% url "module_content_create" module.id "embedvideo" %}">
                {% trans 'Embed Video' %}</a></li>
        <li><a href="{% url "module_content_create" module.id "file" %}">
                {% trans 'File' %}</a></li>
    </ul>
</div>
    </div>
  </div>
  {% endfor %}
  </div>
  <br>
{% endwith %}
{% endblock %}
{% block domready %}
{% endblock %}