{% extends "base.html" %}
{% block title %}
Edit "{{ course.title }}"
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url "manage_course_list" %}">Course Mangement</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit "{{ course.title }}"</li>
  </ol>
</nav>
    <h2>Course modules</h2>
    <form action="" method="post">
        {{ formset }}
        {{ formset.management_form }}
        {% csrf_token %}
        <input type="submit" class="button" value="Save modules">
    </form>
{% endblock %}