{% extends "base.html" %}
{% block title %}
{% if object %}
Edit content "{{ object.title }}"
{% else %}
Add a new content
{% endif %}
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url "manage_course_list" %}">Course Mangement</a></li>
    <li class="breadcrumb-item active" aria-current="page"> {% if object %}
    Edit content "{{ object.title }}"
    {% else %}
    Add a new content
    {% endif %}</li>
  </ol>
</nav>

    <h2>Course info</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save content"></p>
    </form>
{% endblock %}