{% extends "base.html" %}
{% load i18n %}
{% load cache %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% ifequal LANGUAGE_CODE 'ar' %}
<style>
label {
    float: right;
    clear: both;
    margin: 0 0 8px 0;
}
body {
  text-align: right;
}
h5, p {
  text-align: left;
}
.btn-outline-secondary, input {
    text-align: right;
    clear: both;
}
#module-contents input[type=submit] {
  float: right;
}
.btn-link {
  float: left;
}
ul {
    list-style-type: disc;
    float: right;
    text-align: right;
    direction:rtl;
}
nav,ol .breadcrumb {
  text-align: right;
  direction:rtl;
}
.card {
  text-align: right;
}
</style>
{% endifequal %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "student_course_list" %}">{% trans 'My Courses' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
  </ol>
</nav>
<div class="accordion" id="accordionExample">
{% for m in object.modules.all %}
  <div class="card">
    <div class="card-header" id="heading{{ m.id }}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ m.id }}" aria-expanded="true" aria-controls="collapse{{ m.id }}">
          <li style="list-style-type: none;" data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
            <a href="{% url "student_course_detail_module" object.id m.id %}">
                <span>
            <span class="order">{{ m.order|add:1 }}.</span>
                </span>
                {{ m.title }}
            </a>
        </li>
        </button>
      </h2>
    </div>

    <div id="collapse{{ m.id }}" {% if m == module %}  class="collapse show" {% else %} class="collapse hide" {% endif %} aria-labelledby="heading{{ m.id }}" data-parent="#accordionExample">
      <div class="card-body">
    {% cache 600 module_contents module %}
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h5>{{ item.title }}</h5>
            {{ item.render }}
            <br>
            {% endwith %}
        {% endfor %}
    {% endcache %}
      </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}