{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">My courses</li>
  </ol>
</nav>
<br>
<div class="container" style="clear:both;">
  <div class="row" class="clearfix">
{% for course in object_list %}
        <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="clearfix"></div>
<div class="card" style="width: 18rem;  overflow: hidden;">
  <img class="card-img-top" style="width: 286px; height: 180px;"
  src="{{ course.image.url }}" alt="Card image cap">
  <div class="card-body" class="clearfix">
    <h5 class="card-title">{{ course.title }} - {{ course.subject }}</h5>
    <p class="card-text" style="clear:both;"><b>Instructor:</b> {{ course.instructor }}</p>
    <a href="{% url "student_course_modules" course.id %}" class="btn btn-block btn-primary">Go to classroom</a>
  </div>
  
</div>
<br>
</div> 
<p></p>
    {% empty %}
    <p>
        You are not enrolled in any courses yet.
        <a href="{% url "course_list" %}">Browse courses</a>
        to enroll in a course.
    </p>
{% endfor %}
    </div> </div>
    {% endblock %}
