{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">My courses</li>
  </ol>
</nav>
<br>
{% for course in object_list %}
<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ course.subject }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ course.title }}</h1>
        <ul class="list-unstyled mt-3 mb-4" style="font-size: 20px;">
           {{ course.overview }}
        </ul>
        <a href="{% url "student_course_modules" course.id %}">
        <button type="button" class="btn btn-lg btn-block btn-primary">Go to classroom </button>
        </a>
      </div>
    </div>
    {% empty %}
    <p>
        You are not enrolled in any courses yet.
        <a href="{% url "course_list" %}">Browse courses</a>
        to enroll in a course.
    </p>
    {% endfor %}
    {% endblock %}
