{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'My courses' %}{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% ifequal LANGUAGE_CODE 'ar' %}
<style>
label {
    float: right;
    clear: both;
    margin: 0 0 8px 0;
}
body {
  text-align: right;
}
.btn-outline-secondary, input {
    text-align: right;
    clear: both;
}
#module-contents input[type=submit] {
  float: right;
}
.btn-link {
  float: left;
}
ul {
    list-style-type: disc;
    float: right;
    text-align: right;
    direction:rtl;
}
nav,ol .breadcrumb {
  text-align: right;
  direction:rtl;
}
.card {
  text-align: right;
  float: right;
  direction: rtl;
}
.container, form {
  text-align: right;
  direction: rtl
}
</style>
{% endifequal %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb"  style="font-size: 20px;">
    <li class="breadcrumb-item"><a href="{% url "course_list" %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'My courses' %}</li>
  </ol>
</nav>
<br>
<div class="container" style="clear:both;">
  <div class="row" class="clearfix">
{% for course in object_list %}
        <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="clearfix"></div>
<div class="card" style="width: 18rem;  overflow: hidden;">
  <img class="card-img-top" style="width: 286px; height: 180px;"
  src="{{ course.image.url }}" alt="Card image cap">
  <div class="card-body" class="clearfix">
    <h5 class="card-title">{{ course.title }} - {{ course.subject }}</h5>
    <p class="card-text" style="clear:both;"><b>{% trans 'Instructor:' %}</b> {{ course.instructor }}</p>
    <a href="{% url "student_course_modules" course.id %}" class="btn btn-block btn-primary">{% trans 'Go to classroom' %}</a>
  </div>
  
</div>
<br>
</div> 
<p></p>
    {% empty %}
    <p>
        You are not enrolled in any courses yet.
        <a href="{% url "course_list" %}">Browse courses</a>
        to enroll in a course.
    </p>
{% endfor %}
    </div> </div>
    {% endblock %}
