{% extends "base.html" %}
{% load cache %}
{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<div class="accordion" id="accordionExample">
{% for m in object.modules.all %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <li style="list-style-type: none;" data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
            <a href="{% url "student_course_detail_module" object.id m.id %}">
                <span>
            <span class="order">{{ m.order|add:1 }}.</span>
                </span>
                {{ m.title }}
            </a>
        </li>
        </button>
      </h2>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}